.playButton {
  background-color: #f5f3c1;
  border-radius: 12px;
  border-color: #001f54;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #001f54;
}

.smallButton {
  background-color: gray;
  border-radius: 5px;
  border-color: black;
  font-size: 15px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f5f3c1;
}

.giveUpButton {
  background-color: #bee9e8;
  color: #001f54;
  border-radius: 12px;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
