.playButton {
  background-color: #001f54;
  border-radius: 20px;
  border-color: #001f54;
  font-size: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #bee9e8;
}

.smallButton {
  background-color: #bee9e8;
  border-radius: 5px;
  border-color: black;
  font-size: 12px;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #001f54;
}

@media screen and (min-width: 992px) {
  .smallButton {
    font-size: 17px;
    padding: 4px;
  }
}

@media screen and (min-width: 992px) {
  .smallButton {
    font-size: 19px;
    padding: 5px;
  }
}

.answerButton {
  background-color: #001f54;
  border-radius: 20px;
  border-color: #001f54;
  font-size: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #bee9e8;
}

.giveUpButton {
  background-color: #bee9e8;
  color: #001f54;
  border-radius: 12px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .giveUpButton {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

button {
  cursor: pointer;
}
