body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

/*Landing Page*/
.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  color: #001f54;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tenor-sans-regular {
    font-size: 70px;
  }
}

.backgroundLanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bee9e8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
}

.landingPageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  .landingPageTitle {
    margin-top: 4em;
    margin-bottom: 1.5em;
  }
}

.compassContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  .compassContainer {
    margin-bottom: 1.5em;
    width: 8rem;
    height: 8rem;
  }
}

.landingPageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  .landingPageDescription {
    margin-bottom: 1.5em;
  }
}

.landingPageButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0;
}

/*GamePage*/
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  margin: 0;
}

.gameWrapper {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: min-content auto;
  column-gap: 4em;
}

@media screen and (max-width: 768px) {
  .gameWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .topRowWrapper {
    grid-column: 1 / 3;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 3em;
  }
}

.topRowWrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 5px;
}

.cornerLogo {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .cornerLogo {
    width: 35px;
    height: 35px;
  }
}

.cornerLogoText {
  padding-left: 2px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #001f54;
}

@media screen and (max-width: 768px) {
  .cornerLogoText {
    font-size: 13px;
    font-weight: 500;
  }
}

.cornerLogoWrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .cornerLogoWrapper {
    flex-direction: row;
  }
}

.smallButtonWrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.map {
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .map {
    align-items: center;
    font-size: 1rem;
    margin: 0;
    padding-left: 1.5em;
    min-width: 300px;
    justify-self: end;
  }
}

@media screen and (max-width: 768px) {
  .boxAndQuestionWrapper {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .boxAndQuestionWrapper {
    padding-top: 21px;
    padding-right: 1.5em;
    justify-self: start;
    justify-content: left;
    align-items: top;
  }
}

.boxWrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .boxWrapper {
    align-items: center;
    justify-content: center;
  }
}

.questionHeading {
  color: #001f54;
  font-family: "Tenor Sans", sans-serif;
  font-size: 25px;
  background-color: #bee9e8;
  margin: 0;
  padding-left: 7px;
  border-radius: 10pt 10pt 0pt 0pt;
}

@media screen and (max-width: 768px) {
  .questionHeading {
    font-size: 18px;
  }
}

.question {
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 400px;
  font-size: 20px;
  color: #001f54;
  margin-top: 1.5em;
  border-radius: 10pt;
  border: solid #001f54;
  border-width: 1px;
}

@media screen and (max-width: 768px) {
  .question {
    width: 90vw;
    font-size: 15px;
  }
}

p {
  padding-left: 7px;
  padding-right: 7px;
}

.giveUpButtonWrapper {
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 7px;
}

.descriptionWrapper {
  background-color: white;
}
