.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 70px;
  color: #001f54;
}

h2 {
  color: #001f54;
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
}

.background {
  background-image: url("../SiteImages/TopoBackground.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  margin: 0;
}

.backgroundLanding {
  background-color: #bee9e8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  margin: 0;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

.compassContainer {
  padding-top: 0%;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

.boxWrapper {
  display: flex;
  flex-direction: row;
}

.smallButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 125px;
}

.descriptionWrapper {
  background-color: white;
}
