.smallButton {
  background-color: #f5f3c1;
  border-radius: 5px;
  border-color: #2f0f5d;
  font-size: 15px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2f0f5d;
}
