html,
body {
  height: 100%;
}

.map {
  border-style: solid;
  border-color: #001f54;
  border-width: 2px;
  height: 60vh;
  width: 40vw;
}

.zoomedInMap {
  border-style: solid;
  border-color: lightgreen;
  border-width: 5px;
  height: 60vh;
  width: 40vw;
}

@media screen and (max-width: 768px) {
  .map {
    height: 40vh;
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .zoomedInMap {
    height: 40vh;
    width: 90vw;
  }
}

.currentZoomText {
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  .currentZoomText {
    font-size: 12px;
  }
}
